<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depression and Anxiety</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
    <style>
        body{
            background-image: url(https://p4.wallpaperbetter.com/wallpaper/31/268/15/sadness-river-boy-pierce-wallpaper-preview.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .text{
            margin-top: 13%;
            width: 40%;
            text-align: center;
            margin-left: 33%;

        }
    </style>
    <br>
    <br>
    <h1 style="text-align: center; color:black;font-size:45px">Anxiety and Depression Analyzer</h1>

    <div class="text">
        <h4><p style="color:black">80% of youth commit sucide due to depression <br> Detect depression early and overcome depression</p></h4>
        <a href="/home" class="btn btn-primary">Detect depressed</a>
    </div>
    
</body>
</html>